<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Formulario de Costos Misceláneos</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
   .end_button, .cancel_button{
    display: inline-block;
    }
</style>

<body>
  <div id="app">
    <v-app>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex>
            <v-toolbar color="red" dark>
              <v-toolbar-title>Costos Misceláneos</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-form>
              <v-card>
                <v-card-title primary-title>
                  <h4>Costos</h4>
                </v-card-title>
								<span v-for="n in fieldList">
	                <v-card-text>
	                  <span id="article_info">
											<v-text-field label="Demostradora"  type="text" readonly></v-text-field>
											<v-text-field label="Fecha"  type="text" readonly></v-text-field>
											<v-text-field label="Demostración"  type="text" readonly></v-text-field>
	                    <v-select label="Artículo"  v-model="n.artículo" readonly></v-select>
	                    <v-text-field label="Cantidad(pqt.)"  type="number" v-model="n.cantidad" readonly></v-text-field>
	                    <v-text-field label="Precio" prefix="$" type="number" step=".01" v-model="n.precio" readonly></v-text-field>
	                    <v-text-field label="Total" v-model="total" prefix="$" type="number" readonly></v-text-field>
										</span>
										<v-dialog v-model="dialog"  fullscreen>
											<template v-slot:activator="{on}">
												<v-btn v-on="on"> Evidencia </v-btn>
											</template>
											<v-card>
												<v-card-title>
													<h4>Evidencia de Costos</h4>
												</v-card-title>
												<v-card-text>
													<v-img
				                  :src="src"
				                  aspect-ratio="1"
				                  class="grey lighten-2"
				                ></v-img>
												</v-card-text>
												<v-card-actions>
													<v-btn @click="dialog = false">
														Ok
													</v-btn>
												<v-card-actions>
											</v-card>
										</v-dialog>
	                </v-card-text>
	                <v-card-actions>
	                  <div class="decision">
											<v-radio-group row>
												<v-radio label="Aprobar" value="radio-1"></v-radio>
												<v-radio label="Denegar" value="radio-2"></v-radio>
											</v-radio-group>
	          				</div>
	                </v-card-actions>
									<v-spacer></v-spacer>
								</span>
              </v-card>
              <br>
              <v-card>
                <v-card-title>
                  <h4>Acción</h4>
                </v-card-title>
                <v-card-actions>
                  <span id="approvals-end">
										<div class="end_button">
              				<v-btn  type="button" @click="alert('save')">Terminar</v-btn >
              			</div>
										<div class="cancel_button">
                      <v-btn type="button" @click="alert('cancel')">Cancelar</v-btn >
                    </div>
                  </span>
                </v-card-actions>
              </v-card>
            </v-form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
</body>
</html>

<script type="text/javascript">
  var vueApp = new Vue({
    el:"#app",
    data: {
  		 //message: "Hello World!!!"
  		 fieldList: [{
  			 artículo: "",
  			 cantidad: "",
  			 precio: ""
  		 }],
  		 items: [
  			 "Palillos",
  			 "Servilletas",
  			 "Aceite",
  			 "Platos"
  		 ],
  		 inputShow: true,
       total: "",
       src: `https://picsum.photos/500/300?image=${5 + 10}`,
			 dialog: false
  	},
    methods:{
      addFields: function(){
  			var elem = document.getElementById('info');
  			//var space = document.createElement('br');
  			//elem.appendChild(space);
  			this.fieldList.push({
  				artículo: "",
  				cantidad: "",
  				precio: ""
  			});
  			console.log(this.fieldList);
  		},

  		calculateTotal: function(){
  			this.total = 0;
  			for(var i = 0; i<this.fieldList.length; i++){
  				this.total = this.fieldList[i].cantidad * this.fieldList[i].precio + this.total;
  			};
        console.log(this.total)
  		},

      alert: function(text){
  			if(text == 'cancel'){
  				swal("Warning!!!","Are you sure you want to cancel the form?", "warning",{
  					buttons: ["No","Yes"]
  				});
  			}else if(text == 'submit'){
  				swal("Warning!!!","Are you sure you want to submit the form?", "warning",{
  					buttons: ["No","Yes"]
  				});
  			}else if(text == 'deny'){
  				swal("Warning!!!","Are you sure you want to deny the form?", "warning",{
  					buttons: ["No","Yes"]
  				});
  			}else if(text == 'approve'){
  			 	swal("Warning!!!","Are you sure you want to approve the form?", "warning",{
  			 		buttons: ["No","Yes"]
  			 	});
  			}else{
  			swal("Warning!!!","Are you sure you want to save the form?", "warning",{
  				buttons: ["No","Yes"]
  				});
  			}
  		},

      deletePhoto: function(){
        this.src='';
      }

    }
  })
</script>
