<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta charset="utf-8">
    <title>Planning</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src = "https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <style>
        #app {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
            margin-top: 60px;
        }
        /*body {*/
            /*background-color: #EEEEEE;*/
            /*font-family: 'Montserrat', sans-serif;*/
            /*display: grid;*/
            /*grid-template-rows: auto;*/
            /*justify-items: center;*/
            /*padding-top: 50px;*/
        /*}*/
        nav {
            padding: 20px 20px 20px 0;
        }
        nav a {
            padding: 25px;
            text-decoration: none;
            background: #fff;
            border-radius: 3px;
            color: rgb(0, 110, 255);
            font-weight: bold;
            margin-right: 45px;
            font-size: 35px;
        }

        .date-hour {
            text-align: left;
            margin-top: 50pt;
        }

        .events {
            text-align: left;
            margin-top: 50pt;
        }

        .event-list {
            text-align: left;
        }


        .client {
            line-height: 40pt;
            padding-bottom:  auto !important;
            text-align: left !important;
        }

        .demonstrator {
            line-height: 30pt;
            padding-bottom: auto !important;
            text-align: left !important;
        }

        .products {
            line-height: 30pt;
            padding-bottom: auto !important;
            text-align: left !important;
        }

        .multiplier {
            line-height: 30pt;
            padding-bottom: auto !important;
            text-align: left !important;
        }

        .approval {
            line-height: 30pt;
            padding-bottom: auto !important;
            text-align: left !important;
        }
        .nav-planning {
            line-height: 30pt;
        }

        .name-demo {
            text-align: left;
            margin-top: 100pt;
        }

        .calendar {
            alignment: center;
            margin-top: 120pt;
        }

        .buttons {
            text-align: center;
        }

        .my-event {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 2px;
            background-color: #1867c0;
            color: #ffffff;
            border: 1px solid #1867c0;
            width: 100%;
            font-size: 12px;
            padding: 3px;
            cursor: pointer;
            margin-bottom: 1px;
        }
    </style>
</head>
<body>

<div id="app">


</div>

<script>
    var Planning = Vue.component('Planning', {
        template: `

        <v-app>
            <img alt="La Aguadillana logo" src="https://aguadillana.sharepoint.com/DDMS/Shared%20Documents/img/DDMSLogo.png">
                <v-bottom-nav class="nav-planning" color="teal">
                        <!--<router-link to = "/">Home</router-link>-->
                        <v-btn color="teal" to = "/CreateEvent"> Crear Evento

                        </v-btn>
                        <v-btn color="teal" to = "/ManageEvent"> Manejar Eventos

                        </v-btn>
                        <v-btn color="teal" to="/Calendar"> Eventos en Agenda


                        </v-btn>
                        <v-btn color="teal" to = "/Home"> Pagina Principal

                        </v-btn>
                </v-bottom-nav>
                <router-view />
        </v-app>

        `
    });
    var CreateEvent = Vue.component('CreateEvent', {
        data: function () {
            return {
                clients:[],
                products: [],
                demonstrators: [],
                employees: [],
                events: [],
                postData: [],
                requestDigest: "",
                errorMessages: '',
                selectedClient: null,
                selectedDemo: null,
                selectedDate: new Date().toISOString().substr(0, 10),
                menu: false,
                menuTime: false,
                selectedTime: null,
                selectedName: null,
                selectedProducts: [],
                selectedMultiplier: null,
                selectedFirstApproval: null,
                selectedSecondApproval: null,
                selectedThirdApproval: null,
                valid: true
            }
        },
        created: function(){
            this.handlerData();
            this.getRequestDigest();
        },
        template: `<v-form ref="form" v-model="valid">
        <div class="name-demo">
            <h3> Seleccione nombre de la demostracion: </h3>
                <v-flex xs12 sm6 md4>
                  <v-text-field
                  id="name-demo-text"
                  v-model="selectedName"
                  :rules="[(n) => !!n || 'Este campo es requerido']"
                  required
                  clearable
                  > </v-text-field>
                </v-flex>
        </div>

        <div class="date-hour">
            <h3> Seleccione la fecha de la demostracion:</h3>
                  <v-flex xs12 sm6 md4>
                      <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="selectedDate"
                            prepend-icon="event"
                            :rules="[(f) => !!f || 'Este campo es requerido']"
                            readonly
                            required
                            clearable
                            hint="MM/DD/YYYY format"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="selectedDate" @input="menu = false"></v-date-picker>
                      </v-menu>
                   </v-flex>
             <h3> Seleccione la hora de la demostracion:</h3>

             <template>
                  <v-layout row wrap>
                        <v-flex xs11 sm5>
                          <v-menu
                            ref="menu"
                            v-model="menuTime"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="time"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="290px"
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="selectedTime"
                                prepend-icon="access_time"
                                :rules="[(h) => !!h || 'Este campo es requerido']"
                                clearable
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-time-picker
                              v-if="menuTime"
                              v-model="selectedTime"
                              required
                              clearable
                              full-width
                              @click:minute="$refs.menu.save(selectedTime)"
                            ></v-time-picker>
                          </v-menu>
                        </v-flex>
                    </v-layout>
             </template>
        </div>

        <div class="client">
              <h3> Seleccione el cliente:</h3>

                      <v-select
                        id="clientList"
                        v-model="selectedClient"
                        :items="clients"
                        item-text="Title"
                        :error-messages="errorMessages"
                        :rules="[(c) => !!c || 'Este campo es requerido',
                        (c) => checkClientConflict() || 'Cliente tiene demostracion en la fecha escogida. Escoja otra fecha o otro cliente'
                        ]"
                        required
                        clearable
                        >
                      </v-select>
        </div>

        <div class="demonstrator">
              <h3> Seleccione la demostradora/demostrador:</h3>

                <v-select
                        id="demList"
                        v-model="selectedDemo"
                        :items="demonstrators"
                        item-text="vblv"
                        :error-messages="errorMessages"
                        :rules="[(d) => !!d|| 'Este campo es requerido',
                        (d) => checkDemonstratorConflict() || 'Demostradora tiene demostracion en la fecha escogida. Escoja otra fecha o otra demostradora'
                        ]"
                        required
                        clearable
                        >
                      </v-select>
        </div>

        <div class="products">
            <h3>Seleccione los productos:</h3>

            <v-select
                        id="productList"
                        v-model="selectedProducts"
                        :items="products"
                        item-text="e9lf"
                        :error-messages="errorMessages"
                        :rules="[(selectedProducts) =>  selectedProducts.length !== 0 || 'Este campo es requerido']"
                        required
                        clearable
                        multiple
                        >
            </v-select>
        </div>

        <div class="multiplier">
            <h3> Seleccione el multiplicador: </h3>
                    <v-text-field
                    v-model="selectedMultiplier"
                    id="multiplier-num"
                    type="number"
                    min="0"
                    :rules="[(m) => !!m || 'Este campo es requerido']"
                    required
                    clearable
                    > </v-text-field>
        </div>

        <div class="approval">

            <h3> Seleccione las personas que seran parte del proceso de aprobacion:</h3>


                    <v-select
                        v-model="selectedFirstApproval"
                        id="first-employee"
                        :items="employees"
                        label="Primera persona en aprobar"
                        item-text="vblv"
                        :rules="[(e) => !!e || 'Este campo es requerido']"
                        required
                        clearable
                        bottom
                        clerable
                        autocomplete
                        >
                      </v-select>
                <br/>

                    <v-select
                        v-model="selectedSecondApproval"
                        id="second-employee"
                        :items="employees"
                        label="Segunda persona en aprobar"
                        item-text="vblv"
                        bottom
                        clearable
                        autocomplete
                        >
                      </v-select>
                <br/>

                    <v-select
                        v-model="selectedThirdApproval"
                        id="third-employee"
                        :items="employees"
                        label="Tercera persona en aprobar el reporte"
                        item-text="vblv"
                        bottom
                        clearable
                        autocomplete
                        >
                      </v-select>
        </div>

        <div class="buttons">
            <v-btn color="teal" @click="addEvent"> Add event</v-btn>
            <v-btn color="teal" href="/sites/DDMS/Shared%20Documents/planning.aspx#/"> Cancel event</v-btn>
        </div>
    </v-form>

        `,
        methods:{
            getClientListData: function () {
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Clients')/items";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.clients = response.data.value;
                });
            },
            getProductListData: function () {
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Product')/items";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.products = response.data.value;
                });
            },
            getDemonstratorListData: function () {
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Employee')/items?$filter=bevs eq 'DEMO'";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.demonstrators = response.data.value;
                });
            },
            getApprovalListData: function () {
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Employee')/items?$filter=bevs eq 'SUPERVISOR'";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.employees = response.data.value;
                });
            },
            getEventListData: function () {
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Events')/items";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.events = response.data.value;
                });
            },
            checkClientConflict: function(){
                for (var j = 0; j < this.events.length; j++){

                    var eClient = this.selectedClient;
                    console.log(eClient);
                    console.log(this.events[j].event_client);

                    var temp = this.selectedDate + " " + this.selectedTime;
                    var eDate = new Date(temp);
                    eDate.setHours(eDate.getHours() - 4);

                    var date = new Date(this.events[j].event_date);
                    date.setHours(date.getHours() - 3);

                    // now you can get the string
                    var isodateList = date.toISOString();
                    console.log(isodateList);

                    if(this.events[j].event_client === eClient && isodateList === eDate.toISOString()){
                            return false;
                    }

                    else{
                        return true;
                    }
                }
            },
            checkDemonstratorConflict: function(){
                for (var j = 0; j < this.events.length; j++){
                    var eDemonstrator = this.selectedDemo;


                    var temp = this.selectedDate + " " + this.selectedTime;
                    var eDate = new Date(temp);
                    eDate.setHours(eDate.getHours() - 4);
                    console.log(eDate.toISOString());

                    var date = new Date(this.events[j].event_date);
                    date.setHours(date.getHours() - 3);

                    // now you can get the string
                    var isodateList = date.toISOString();

                    console.log(isodateList);
                    console.log(this.events[j].event_client);

                    if(this.events[j].event_demonstrator === eDemonstrator && isodateList === eDate.toISOString()){
                        return false;
                    }

                    else {
                        return true;
                    }
                }
            },
            addEvent: function(){

                if(this.selectedName === null || this.selectedDate === null || this.selectedTime === null || this.selectedClient === undefined || this.selectedDemo === undefined || this.selectedProducts.toString() === '' || this.selectedMultiplier === null || this.selectedFirstApproval === undefined) {
                    swal({
                        title: "Campos vacios",
                        text: "Usted tiene campos vacios en el formulario. Por favor verifique que cada campo este lleno",
                        icon: "info",
                        dangerMode: true,
                    });
                    this.$refs.form.validate();
                    return;
                }

                else if(this.checkDemonstratorConflict() === false || this.checkClientConflict() === false){
                    swal({
                        title: "Alertas vigentes",
                        text: "Usted tiene alertas pendientes en el formulario que no ha corregido. Por favor verifique que los campos de cliente y demostradora esten llenos sin alertas!",
                        icon: "info",
                        dangerMode: true,
                    });
                    return;
                }

                else {

                    //FORM the Data to POST
                    var name = this.selectedName;

                    //Date
                    var temp = this.selectedDate + " " + this.selectedTime;
                    var eDate = new Date(temp);
                    var date = eDate.toISOString();

                    //Client
                    var client = this.selectedClient;

                    //Demonstrator
                    var demonstrator = this.selectedDemo;

                    //Products
                    var checkedProducts = this.selectedProducts.toString();

                    //Muliplier
                    var multiplier = this.selectedMultiplier;

                    //Event Approver 1
                    var approver1 = this.selectedFirstApproval;

                    //Event Approver 2
                    var approver2 = this.selectedSecondApproval;


                    //Event Approver 3
                    var approver3 = this.selectedThirdApproval;

                    //Event Id
                    var event_id = this.events.length.toString();


                    swal({
                        title: "Esta seguro de la adicion de este evento?",
                        icon: "info",
                        buttons: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {

                                $.ajax({
                                    async: true,
                                    url: "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Events')/items",
                                    method: "POST",
                                    data: JSON.stringify({
                                        '__metadata': {
                                            'type': 'SP.Data.EventsListItem' // it defines the ListEntityTypeName
                                        },
                                        "Title": name,
                                        "event_id": event_id,
                                        "event_date": date,
                                        "event_client": client,
                                        "event_demonstrator": demonstrator,
                                        "products": checkedProducts,
                                        "event_mult": multiplier,
                                        "event_approver1": approver1,
                                        "event_approver2": approver2,
                                        "event_approver3": approver3,
                                        "Event_Status": 'AGENDA'
                                    }),
                                    headers: {
                                        "accept": "application/json;odata=verbose",
                                        "content-type": "application/json;odata=verbose",
                                        "X-RequestDigest": this.requestDigest
                                    },
                                    success: function (data) {
                                        console.log("Item created successfully");
                                    },
                                    error: function (error) {
                                        console.log(JSON.stringify(error));
                                    }
                                });

                                swal("Evento en agenda exitosamente!", {
                                    icon: "success",
                                });

                                window.reload();
                            } else {
                                window.location.href = '/sites/DDMS/Shared%20Documents/planning.aspx#/CreateEvent';
                            }
                        });
                }

            },

            getRequestDigest: function(){
                var vm = this;
                var headers ={
                    "Cookie": "FedAuth=77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48U1A+VjUsMGguZnxtZW1iZXJzaGlwfDEwMDMyMDAwM2NlMjFmNzNAbGl2ZS5jb20sMCMuZnxtZW1iZXJzaGlwfGNhcHN0b25lQGxhYWd1YWRpbGxhbmEuY29tLDEzMTk5MTIzNjkwMDAwMDAwMCwxMzE5NTA2MjUwMzAwMDAwMDAsMTMxOTkyMTAxMDc5MDU1MjkwLDAuMC4wLjAsMixmNDRiNzA4OC0xNTc5LTQ3OWUtYTQ3NS1iZmQyYjQ2MDI0OWEsLCxhZWE4ZDA5ZS00MDc4LTgwMDAtOTk5NS1kODc2MTViMDEyOGYsYWVhOGQwOWUtNDA3OC04MDAwLTk5OTUtZDg3NjE1YjAxMjhmLCwwLDAsMCwsYmJXUStQWDUwekRyWHhBLzdOcHhlM0JpS0FaZEtrMTRNRGtFOW9GWUQ2aE9QZFBqMTZIUlVIOGRjWWRnOGVkT0doM2p6VVduZkY4U25MRDRPTW9LQTFFVWZ0UzhENUNkc1lheHg1OGdKSUo2U1ZoTjJlT3VHcmM4M2pISFREQ0xVdmVrTEgzMFJBWVpkU2xicmFmc0grVkV1TWhjN2l2ZThwWE5Kc3djWDJxbS9OWEVKREhBVC9NZk9OTTd3MzEzaVBxWmJXT2hETkx1Z2orMTJ3SE83M3NwRkorOHQxYllTOEJxU0hqQURuWVFrV2lRdVY4aHBWL011ekNJSU4zSXpKNVdodHA4c1YwTjNxTUhpTFluZEJUT245MzVud1ljRHUyVE5yaTZsWGE4NUhXb0ZkbDdiazljQ1FVUDUxcUFmRXNBZldzU2Z6UEluK2dhRGN4UnJnPT08L1NQPg==; path=/; secure; HttpOnly",
                    "Cookie": "rtFa=ibALGjJdBQDSLFH1z9kQ0+CkjjfKKbdDQnfCAHKKjzcmRjQ0QjcwODgtMTU3OS00NzlFLUE0NzUtQkZEMkI0NjAyNDlBr0JITHJLD45lVwPZQR5mn5F95FfVvEqF0WrL2388U7Czs5a7Yz8P0CCCj7llogci6rPTv3DAri+iLcdArQQ/rKlHCc7UNZyiF0UKRP8iDtyrwayhlMlkpXCr8VqTybmiQ3cdK71Odk9PdfQkPXw5O5Re+RrY7bkGLXuHh1T4KYLw/5qLsKgT1Jj/DQS6owOquGRVvTe+Trte1Eioz7mKBgQN5e0Gkb06+NDdtInIRAjevi5ot7BIgeb0bSvz9EGCtVO9xlzmm3n2PN7wuJR7NDp22U9XkJ3G0NoNWHwWaR12+wgGZLYZ2ds68BsSl77XmIUAOV4mCui1yTaXkoeFn0UAAAA=; domain=sharepoint.com; path=/; secure; HttpOnly"
                };
                axios.post("https://aguadillana.sharepoint.com/sites/DDMS/_api/contextinfo", headers)
                    .then(response => {
                        console.log(response);
                        vm.requestDigest = response.data.FormDigestValue;
                        console.log(vm.requestDigest);
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.log("failed");
                    });
            },
            handlerAlerts: function(){
                this.checkDemonstratorConflict();
                this.checkClientConflict();
            },
            handlerData: function () {
                this.getProductListData();
                this.getClientListData();
                this.getDemonstratorListData();
                this.getApprovalListData();
                this.getEventListData();
            }
        }
    });

    var ManageEvent =  Vue.component('ManageEvent', {
        data: function (){
            return{
                eventList:[],
                eventTitle: "",
                editEventInfo: [],
                deleteItemId: "",
                requestDigestManage: ""
            }
        },
        created: function(){
            this.handlerManageEventData();
            this.getRequestDigestManage();
        },
        components:{
            CreateEvent
        },
        // template: `
        // <div class="events">
        //
        //     <v-btn color="teal" id="edit-btn" v-on:click="getEventEditData"> Edit Demo </v-btn>
        //     <v-btn color="teal" id="del-btn" v-on:click="deleteEvent"> Delete Demo </v-btn>
        //
        //     <form class="event-list">
        //         <h3>Demostraciones en agenda: </h3>
        //
        //         <ul>
        //             <li v-for="item in eventList">
        //               <input type="radio" id="demos" name="demos" v-bind:value="item.Title" v-on:change="getEventEditTitle"> {{item.Title}}
        //             </li>
        //         </ul>
        //     </form>
        // </div>
        // `,
        methods:{
            getEventListData: function () {
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Events')/items";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.eventList = response.data.value;
                });
            },
            getEventEditTitle: function(){
               this.eventTitle = document.querySelector('input[name="demos"]:checked').value;
               console.log(this.eventTitle);
                var vm = this;
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Events')/items?$filter=Title eq '" + this.eventTitle + "'";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.editEventInfo = response.data.value;
                    vm.deleteItemId = vm.editEventInfo[0].Id;
                    console.log(vm.deleteItemId);
                });

            },

            getEventEditData: function(){
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Events')/items?$filter=Title eq '" + this.eventTitle + "'";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.editEventInfo = response.data.value;
                    vm.deleteItemId = vm.editEventInfo[0].Id;
                    console.log(this.deleteItemId);
                });
            },
            deleteEvent: function(){

                var vm = this;

                swal({
                    title: "Esta seguro?",
                    text: "Una vez eliminado, no podra ser recuperado!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            var endpoint = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Events')/GetItemById(" + vm.deleteItemId + ")";
                            $.ajax({
                                url: endpoint,
                                type: "DELETE",
                                contentType: "application/json;odata=verbose",
                                headers: {
                                    "Accept": "application/json;odata=verbose",
                                    "X-RequestDigest": vm.requestDigestManage,
                                    "IF-MATCH": "*",
                                    "X-HTTP-Method": "DELETE",
                                },
                                success: function (data) {
                                    swal("El evento ha sido eliminado!", {
                                        icon: "success",
                                    });
                                },
                                error: function (data) {
                                    alert("failed");
                                    console.log(data);
                                    console.log(endpoint);
                                }
                            });
                        } else {
                            swal("Su evento esta seguro!");
                        }
                    });



                    // window.location.href = '/sites/DDMS/Shared%20Documents/planning.aspx#/ManageEvent';

            },
            getRequestDigestManage: function(){
                var vm = this;
                var headers = {
                    "Cookie": "FedAuth=77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48U1A+VjUsMGguZnxtZW1iZXJzaGlwfDEwMDMyMDAwM2NlMjFmNzNAbGl2ZS5jb20sMCMuZnxtZW1iZXJzaGlwfGNhcHN0b25lQGxhYWd1YWRpbGxhbmEuY29tLDEzMTk5MTIzNjkwMDAwMDAwMCwxMzE5NTA2MjUwMzAwMDAwMDAsMTMxOTkyMTAxMDc5MDU1MjkwLDAuMC4wLjAsMixmNDRiNzA4OC0xNTc5LTQ3OWUtYTQ3NS1iZmQyYjQ2MDI0OWEsLCxhZWE4ZDA5ZS00MDc4LTgwMDAtOTk5NS1kODc2MTViMDEyOGYsYWVhOGQwOWUtNDA3OC04MDAwLTk5OTUtZDg3NjE1YjAxMjhmLCwwLDAsMCwsYmJXUStQWDUwekRyWHhBLzdOcHhlM0JpS0FaZEtrMTRNRGtFOW9GWUQ2aE9QZFBqMTZIUlVIOGRjWWRnOGVkT0doM2p6VVduZkY4U25MRDRPTW9LQTFFVWZ0UzhENUNkc1lheHg1OGdKSUo2U1ZoTjJlT3VHcmM4M2pISFREQ0xVdmVrTEgzMFJBWVpkU2xicmFmc0grVkV1TWhjN2l2ZThwWE5Kc3djWDJxbS9OWEVKREhBVC9NZk9OTTd3MzEzaVBxWmJXT2hETkx1Z2orMTJ3SE83M3NwRkorOHQxYllTOEJxU0hqQURuWVFrV2lRdVY4aHBWL011ekNJSU4zSXpKNVdodHA4c1YwTjNxTUhpTFluZEJUT245MzVud1ljRHUyVE5yaTZsWGE4NUhXb0ZkbDdiazljQ1FVUDUxcUFmRXNBZldzU2Z6UEluK2dhRGN4UnJnPT08L1NQPg==; path=/; secure; HttpOnly",
                    "Cookie": "rtFa=ibALGjJdBQDSLFH1z9kQ0+CkjjfKKbdDQnfCAHKKjzcmRjQ0QjcwODgtMTU3OS00NzlFLUE0NzUtQkZEMkI0NjAyNDlBr0JITHJLD45lVwPZQR5mn5F95FfVvEqF0WrL2388U7Czs5a7Yz8P0CCCj7llogci6rPTv3DAri+iLcdArQQ/rKlHCc7UNZyiF0UKRP8iDtyrwayhlMlkpXCr8VqTybmiQ3cdK71Odk9PdfQkPXw5O5Re+RrY7bkGLXuHh1T4KYLw/5qLsKgT1Jj/DQS6owOquGRVvTe+Trte1Eioz7mKBgQN5e0Gkb06+NDdtInIRAjevi5ot7BIgeb0bSvz9EGCtVO9xlzmm3n2PN7wuJR7NDp22U9XkJ3G0NoNWHwWaR12+wgGZLYZ2ds68BsSl77XmIUAOV4mCui1yTaXkoeFn0UAAAA=; domain=sharepoint.com; path=/; secure; HttpOnly"
                };
                axios.post("https://aguadillana.sharepoint.com/sites/DDMS/_api/contextinfo", headers)
                    .then(response => {
                        console.log(response);
                        vm.requestDigestManage = response.data.FormDigestValue;
                        console.log(vm.requestDigestManage);
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.log("failed");
                    });
            },
            handlerManageEventData: function() {
                this.getEventListData();
                this.getEventEditData();
            }
        }
    });

    var Home =  Vue.component('Home', {
        data: function (){
            return{
                count: 0
            }
        }
    });

    var Calendar =  Vue.component('Calendar',{
        data: function(){
            return{
                eventsScheduled:[],
                start: new Date().toISOString().substring(0,10)

            }
        },
        created: function(){
            this.getEventListDataCalendar();
        },
        template: `
          <v-layout class="calendar" wrap>
          <v-flex
                  sm4
                  xs12
                  class="text-sm-left text-xs-center"
                >
                  <v-btn v-on:click="$refs.calendar.prev()">
                    <v-icon
                      dark
                      left
                    >
                      keyboard_arrow_left
                    </v-icon>
                    Prev
                  </v-btn>
                </v-flex>

                <v-flex
                  sm4
                  xs12
                  class="text-xs-center"
                >
                  <v-text-field
                    readonly
                    value="April 2019"
                  ></v-text-field>
                </v-flex>

                <v-flex
                  sm4
                  xs12
                  class="text-sm-right text-xs-center"
                >
                  <v-btn v-on:click="$refs.calendar.next()">
                    Next
                    <v-icon
                      right
                      dark
                    >
                      keyboard_arrow_right
                    </v-icon>
                  </v-btn>
                </v-flex>

            <v-flex
            xs12
            class="mb-3">

              <v-sheet height="500">
                <v-calendar
                  ref="calendar"
                  type="month"
                  v-model="start"
                  color="primary"
                >
                  <template v-slot:day="{ date }">
                    <template v-for="event in eventsMap[date]">
                      <v-menu
                        :key="event.Title"
                        full-width
                        offset-x
                      >
                        <template v-slot:activator="{ on }">
                          <div
                            class="my-event"
                            v-on="on"
                            v-html="event.Title"
                          ></div>
                        </template>
                        <v-card
                          color="grey lighten-4"
                          min-width="350px"
                          flat
                        >
                          <v-toolbar
                            color="primary"
                            dark
                          >
                            <v-toolbar-title v-html="event.Title"></v-toolbar-title>
                            <v-spacer></v-spacer>
                          </v-toolbar>

                          <v-card-actions>
                            <v-btn
                              flat
                              color="secondary"
                            >
                              Cancel
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-menu>
                    </template>
                  </template>
                </v-calendar>
              </v-sheet>
            </v-flex>


          </v-layout>
        `,
        computed:{
            eventsMap () {
                const map = {};
                this.eventsScheduled.forEach(e => (map[e.event_date.substring(0,10)] = map[e.event_date.substring(0,10)] || []).push(e));
                console.log(map);
                return map;
            }
        },
        methods:{
            getEventListDataCalendar: function () {
                var endPointUrl = "https://aguadillana.sharepoint.com/sites/DDMS/_api/web/lists/getbyTitle('Events')/items";
                console.log(endPointUrl);
                var headers = {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                };
                this.status = "getting data...";
                var vm = this;
                axios.get(endPointUrl).then(response => {
                    console.log(response.data.value);
                    vm.eventsScheduled = response.data.value;
                });
            }
        }

    });


    const routes = [
        //{ path: '/', component: Home},
        { path: '/Planning', component: Planning},
        { path: '/CreateEvent', component: CreateEvent},
        { path: '/ManageEvent', component: ManageEvent},
        { path: '/Home', component: Home},
        {path: '/Calendar', component: Calendar}
    ];

    const router = new VueRouter({
        routes // short for `routes: routes`
    });

    var vueApp = new Vue({
        el: "#app",
        template: '<div>\n        <Planning />\n      </div>',
        router,
        components:{
            CreateEvent,
            ManageEvent,
            Home,
            Planning,
            Calendar
        },
        data(){
            return { reactive: true }

        }
    });




</script>

</body>
</html>
