<!DOCTYPE html>
<html>
<body>
Bienvenida!
<br>
<button id="checkIn"onclick="disableCheckIn(),enableCheckOut(), getLocation(), enableFill()">Check-in</button>
<br>
<button id="fill"onclick="disableCancel()">Fill Demo</button>
<br>
<button id="cancel"onclick="disableFill(), enterReason()">Cancel Demo</button>
<br>
<button id="checkOut" onclick="disableCheckOut(),getLocation()">Check-out</button>
<br>
<br>



<script>
    disableCheckOut();
    disableFill();
    function disableCheckIn(){
        document.getElementById("checkIn").disabled = true;
    }

    function enableCheckOut(){
        document.getElementById("checkOut").disabled = false;
    }

    function disableCheckOut(){
        document.getElementById("checkOut").disabled = true;
    }

    function enableFill(){
        document.getElementById("fill").disabled = false;
    }

    function disableFill(){
        document.getElementById("fill").disabled = true;
    }

    function disableCancel(){
        document.getElementById("cancel").disabled = true;
    }


    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        alert( "Latitude: " + position.coords.latitude +
            "   Longitude: " + position.coords.longitude);
    }

    function enterReason() {
        var reason = prompt("Entre razón de cancelación : ", "reason");

        alert("Se sometió la razón. Su respuesta fue: " + reason);
    }

</script>

</body>
</html>
