/* use # for id and . for class*/
/* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        padding: 0;
        background-color: #fafafa;
      } 

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
        height: 70%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px;
        margin-bottom: 50px;
        margin-top: 20px;
        
      }      

.chart{
        margin: auto;
        margin-left: auto;
        margin-right: auto;
}

.results{
    margin: auto;
/*
    margin-left: 40%;
    margin-right: auto;
*/

}

.wrapper{
    text-align: center;
}

/* Edit button to toogle Profile Summary Chart*/
#toogle{
        height:25px;
        width: 100px;
        margin-left: 25%;
        background-color: white;
        color:black;
        border-radius: 12px;
    
      }      
