      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        border-radius: 12px;
        
      }

      /* Edit button to toogle Profile Summary Chart*/
      #toogle{
        height:25px;
        width: 100px;
        margin-left: 16%;
        background-color: white;
      }
