<!DOCTYPE html>
<html>
<head>
    
    <title>Perfil</title>
    
    <!-- Scripts -->
    <script type="text/javascript" src="chart.js"></script>
    <script type="text/javascript" src="map.js"></script>
   
    <!-- Bootstrap -->
    
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src = "https://unpkg.com/vue-router/dist/vue-router.js"></script>
    
    <!-- Vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    
    <!-- Alerts -->
    <script src="https://unpkg.com/vue-swal"></script>
    
    <!-- Google Charts API -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <!-- Load and draw chart -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
    </script>

    <!-- Page settings -->
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Link to profile CSS -->
    <link rel="stylesheet" type="text/css" href="profile.css">
    


</head>
    
<body>

    
    <!--  Toolbar -->
<!--
    <div id="toolbar">
           

      <v-app id="inspire">
        <v-toolbar color="red" dark>
            
          <v-toolbar-side-icon></v-toolbar-side-icon>
          <v-toolbar-title >Profile</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items class="hidden-sm-and-down">
          </v-toolbar-items>
            

        </v-toolbar>
          
      </v-app>
    </div>
-->
<div id="menu">
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <v-list-tile @click="">
          <a href="profile.html"><v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action></a>
          <v-list-tile-content>
            <v-list-tile-title>Perfil</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="">
         <a href="history.html"> <v-list-tile-action>
            <v-icon>list</v-icon>
          </v-list-tile-action> </a>
          <v-list-tile-content>
              <v-list-tile-title>Historial</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="red" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Profile</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout
          justify-center
          align-center
        >
          <v-flex text-xs-center>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
<script>
      var vm = new Vue({
      el: '#menu',
    data: () => ({
      drawer: false
    }),
    props: {
      source: String
    }
  })
</script>
    
        
   <!--     Alert of upcoming demo -->
   <!--
    <h2 id="AH!" >Alertas</h2>
    <div id="alerts">
    <ul>
        <li v-for="alert in alerts">
          {{ alert.text }}
        </li>
    </ul>
    </div>
    <script type="text/javascript" src=alerts.js></script>
-->

    <!-- Column Chart -->
    <div id="chart">
        
        <div id="chart_div"> </div>  
        <h3>Click on Chart to change view</h3>
    </div>  

    <!-- Table -->
  <div id="table">
    <v-app>
      <v-content>
        <v-container>
          <template>
              <v-card-title>
              Reportes
              <v-spacer></v-spacer>

        </v-card-title>
            
            <v-data-table :headers="headers" :items="reports"  :hide-actions="true"  item-key="name" class="elevation-1">
              <template slot="items" slot-scope="props">
                <tr @click="rowClick(props.item.name)">
                  <td rowspan="2">{{ props.item.title }}</td>
                  <td class="text-xs-center">Embutidos</td>
                  <td class="text-xs-center">{{ props.item.sale1 }}</td>
                  <td class="text-xs-center">{{ props.item.ince1 }}</td>
                  <td rowspan ="2" class="text-xs-center">{{props.item.total}}</td>
                </tr>
                <tr>
                  <td class="text-xs-center">Empanados</td>
                  <td class="text-xs-center">{{ props.item.sale2 }}</td>
                  <td class="text-xs-center">{{ props.item.ince2 }}</td>
                </tr>
              </template>
                
            <div class="text-xs-center pt-2">
              <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
            <!-- Detects if there isn't any data and display accordingly -->
             <template v-slot:no-data>
                    <v-alert :value="true" color="error" icon="warning">Sorry, nothing to display here :(</v-alert>
            </template>
                
            <!-- Alert if nothing found -->
            <template v-slot:no-results >
                <v-alert :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
                </v-alert>
            </template>
            </v-data-table>
          </template>
        </v-container>

      </v-content>
    </v-app>
  </div>
  <script>
    var vm = new Vue({
      el: '#table',
      methods: {
        rowClick(name) {
          this.selectedItem = name;
        }
      },
      data: function () {
        return {
            
          search: '',
          pagination: {},
          headers: [
            {
              text: 'Reporte',
              align: 'left',
              sortable: false,
              value: 'title',
              width: '25%'
            },
            { text: 'Familia', value: 'prod', width: '15%',sortable: false , align: 'center', },
            { text: 'Ventas', value: 'sale1', width: '15%',sortable: false , align: 'center', },
            { text: 'Nivel de Incentivo', value: 'ince1', width: '16%',sortable: false, align: 'center', },
            { text: 'Total de Ventas', value: 'total', width: '16%' , sortable: false, align: 'center',},
        
          ],
          reports: [
            {
              value: false,
              title: 'Reporte 1',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            {
              value: false,
              title: 'Reporte 2',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
             {
              value: false,
              title: 'Reporte 3',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
             {
              value: false,
              title: 'Reporte 4',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            {
              value: false,
              title: 'Reporte 5',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            {
              value: false,
              title: 'Reporte 6',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            {
              value: false,
              title: 'Reporte 7',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            {
              value: false,
              title: 'Reporte 8',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            {
              value: false,
              title: 'Reporte 9',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            {
              value: false,
              title: 'Reporte 10',
              sale1: 23,
              sale2: 25,
              ince1: 1,
              ince2: 4,
              total: 45,
            },
            
            
          ]
        }
      }
    })
  </script>

    
    <!-- Miscellaneous Costs of past 10 -->
    <h2> Gastos Pasados:</h2>
    <!--
       <div id="misc">
    <ul>
        <li v-for="cost in costs">
          {{ cost.text }}
        </li>
    </ul>
    </div>
    <script type="text/javascript" src=misc.js></script>
-->
   
    <div id="list">
  <div id="app">
  <v-app id="inspire">
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
  
          <v-list two-line>
            <template v-for="(item, index) in items">
              <v-list-tile
                :key="item.title"
                avatar
                ripple
                @click="toggle(index)"
              >
                <v-list-tile-content>
                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
<!--
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                  <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
-->
                </v-list-tile-content>
  
              </v-list-tile>
              <v-divider
                v-if="index + 1 < items.length"
                :key="index"
              ></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</div>
</div>
    <script>
    new Vue({
  el: '#list',
  data () {
    return {
      selected: [2],
      items: [
        {
          headline: 'Supermercado Pueblos',
          title: 'Feb/24/2019',
          subtitle: "<span class='text--primary'>Supermercados Pueblos - Mayaguez</span> &mdash; $5.47"
        },
        {
          headline:'Supermercado Ajies' ,
          title: 'Feb/28/2019',
          subtitle: "<span class='text--primary'>Supermercado Ajies - Aguada</span> &mdash; $5.47"
        },
        {
          headline: 'Supermercado Selectos',
          title: 'Abril/1/2019',
          subtitle: "<span class='text--primary'>Supermercado Selectos - Mayaguez</span> &mdash; $6.00"
        },
        {
          headline: 'Supermercado Selectos II',
          title: 'Abril/2/2019',
          subtitle: "<span class='text--primary'>Supermercado Selectos II - Mayaguez</span> &mdash; $10.47"
        },
      ]
    }
  },

  methods: {
    toggle (index) {
      const i = this.selected.indexOf(index)

      if (i > -1) {
        this.selected.splice(i, 1)
      } else {
        this.selected.push(index)
      }
    }
  }
})
    
    </script>

    
    <h2>Proximas demonstraciones:</h2>
    <!-- Google Map -->
    <div id="map"></div> 
    <!-- Script order matters  -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg71kA9ufXlx4ZdpQEvlii-nrKoDx-jlM&callback=initMap"
    async defer></script> 
    
<!--
    <div id="demos">
    <ul>
        <li v-for="demo in demos">
          {{ demo.text }}
        </li>
    </ul>
    </div>
    <script type="text/javascript" src=demos.js></script>
-->

     <div id="demos">
  <div id="app">
  <v-app id="inspire">
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
  
          <v-list two-line>
            <template v-for="(item, index) in items">
              <v-list-tile
                :key="item.title"
                avatar
                ripple
                @click="toggle(index)"
              >
                <v-list-tile-content>

                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                  <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                </v-list-tile-content>
  
              </v-list-tile>
              <v-divider
                v-if="index + 1 < items.length"
                :key="index"
              ></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</div>
</div>
     <script>
   var demos = new Vue({
  el: '#demos',
  data () {
    return {
      selected: [2],
      items: [
        {
          headline: 'Supermercado Pueblos',
          title: 'Feb/24/2019',
          subtitle: ""
        },
        {
          headline:'Supermercado Ajies' ,
          title: 'Feb/28/2019',
          subtitle: ""
        },
        {
          headline: 'Supermercado Selectos',
          title: 'Abril/1/2019',
          subtitle: ""
        },
        {
          headline: 'Supermercado Selectos II',
          title: 'Abril/2/2019',
          subtitle: ""
        },
      ]
    }
  },

  methods: {
    toggle (index) {
      const i = this.selected.indexOf(index)

      if (i > -1) {
        this.selected.splice(i, 1)
      } else {
        this.selected.push(index)
      }
    }
  }
})
    
    </script>

    
    
</body>
    
</html>