/* use # for id and . for class*/
/* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        padding: 0;
      }      
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
        height: 70%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px;
        
      }      

.chart{
        margin: auto;
        margin-left: auto;
        margin-right: auto;
}

.results{
    margin: auto;
/*
    margin-left: 40%;
    margin-right: auto;
*/

}

.wrapper{
    text-align: center;
}

/* Edit button to toogle Profile Summary Chart*/
#toogle{
        height:25px;
        width: 100px;
        margin-left: 25%;
      }      
